VITE_SUPABASE_URL=https://ynrizapvvfjswagxodbz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlucml6YXB2dmZqc3dhZ3hvZGJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzk3MTksImV4cCI6MjA4OTk1NTcxOX0.65GlrV-yl3ytFRtvMi-1H44G3lnUqR8WVENgbLMs_gc
